.fondo{
	background-image:url(quote_bg.png);
	padding:15px;
}
.blog{
	.img-fondo{
		height: 400px;
	}
	h4{
		color:#C85E1A;
	}
	h3{
		color:#C85E1A;
	}
}
.numero{
	width:100%;
	height:50px;
	text-align:center;
	border:2px solid #9B402B;
	background-color:#D85F20;
	h4{
		color:white;
	}
}