	.all{
		display:inline-block;
		color:grey;
		margin-top:20px;
		&:hover{
			background-color:#C85E1A;
			color:white;
			padding:5px;
		}
	}
.port{
	img{
		height: 150px;
	}
	.dentro{
		margin-bottom: 5px;
	}
	h6{
		margin-left: 10px;
	}
}